attrs==22.1.0
bioc==2.0.post4
bllipparser==2021.11.7
click==8.1.3
decorator==5.1.1
docopt==0.6.2
intervaltree==3.1.0
joblib==1.2.0
JPype1==1.4.0
jsonlines==3.1.0
lxml==4.9.1
negbio==0.9.4
networkx==2.8.7
nltk==3.7
pathlib2==2.3.7.post1
ply==3.10
pymetamap==0.1
PyStanfordDependencies==0.3.1
regex==2022.9.13
six==1.16.0
sortedcontainers==2.4.0
tqdm==4.19.5
